li {
  align-items: flex-start;
  background: var(--bg-card);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: space-between;
  padding: 1rem;

  div {
    align-items: center;
    display: flex;
    gap: .5rem;
    padding: .5rem 0;

    svg {
      border-radius: 2rem;
      height: 2rem;
      width: 2rem;
    }
  }

  p {
    color: var(--text);
    font-size: 1rem;
    margin-top: .125rem;
  }

  a {
    color: var(--text);
    font-weight: bold;
    display: inline-block;
    margin-top: .25rem;
    margin-left: auto;
    text-decoration: none;
    transition: filter .2s;

    &:hover {
      filter: brightness(0);
    }
  }
}