:root {
  --blue: #57b9e6;
  --bg-card: #57b9e638;
  --black: #121214;
  --text: #444;
  --white: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--white);
  color: var(--black);
  font: 16px "Helvetica Neue", Arial, sans-serif;
}