header {
  align-items: center;
  background: #57b9e6;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
  width: 100%;
}